@use "./_variables.scss" as *;
@use "./_functions.scss" as *;
@use "./_mixins.scss" as *;

:host {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  @include pp-host-theme-defaults;
  --pp-color-action-primary: var(--accent, #26a69a);

  .upload-area {
    @include clickable;
    width: 100px;
    aspect-ratio: 1/1;
    background-color: var(--accent-bg);
    border-radius: 50%;
    border: 1px dashed var(--accent-border);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease, border 0.2s ease;
    overflow: hidden;
    .upload-icon {
      width: 25px;
    }
    .cropped-preview {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
    &:hover{
      background-color: mix-lighten(var(--accent-bg), 30%);
      border: 1px solid var(--accent-border);
    }
    &:active{
      background-color: mix-darken(var(--accent-bg), 5%);
      border: 1px solid var(--accent-border);
    }
  }
  .trigger-area {
    &.drag-over {
      .upload-area{
        background-color: mix-darken(var(--accent-bg), 5%);
        border: 1px solid var(--accent-border);
      }
    }
    &.drag-over-invalid {
      .upload-area{
        background-color: rgba(255, 0, 0, 0.1);
        border: 1px solid rgba(255, 0, 0, 0.1);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
      rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}